@model HomeIndexViewModel
@{ 
    ViewData["Title"] = "Home";
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>ViewData["Title"]</title>
</head>
<body>
    <div>
        <h1>@Model.PageTitle</h1>
    </div>

    <div class="table-responsive">
        <table id="employeesTable" class="table table-fit table-dark table-bordered table-hover">
            <caption>Company Staff <a asp-controller="Home", asp-action="Create">Add new employee?</a></caption>
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Department</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var employee in @Model.Employees)
                    {
                        <tr>
                            <td>
                                <img class="rounded-circle z-depth-2" alt="50x50" width="50" height="50"
                                    src="~/Images/person-icon.png"
                                    data-holder-rendered="true"
                                     asp-append-version="true">
                            </td>
                            <td>@employee.Name</td>
                            <td>@employee.Email</td>
                            <td>@employee.Department</td>
                            <td>
                                <a asp-controller="Home" asp-action="Details" asp-route-id="@employee.Id" class="btn btn-primary">View</a>
                                <a href="#" class="btn btn-warning">Edit</a>
                                <a href="#" class="btn btn-danger">Delete</a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</body>
</html>


